<h2>Recuperar Contraseña</h2>
<div>
   <form id="SendEmailForm">
      <label>Escriba el email asociado a su cuenta</label>
      <input name="email">
      <input type="submit" value="Enviar">
   </form>
</div>
<script src="/js/reset.js"></script>