<h2>Escriba su nueva Contraseña</h2>
<div>
   <form id="SendPasswordForm">
      <label>Escriba su nueva Contraseña</label>
      <input name="password_reset">
      <input type="submit" value="Enviar">
   </form>
</div>